*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Roboto', sans-serif;
   perspective: 600px;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Frank Ruhl Libre', serif;
}
/*--------------- header------------------------- */
header{
   width: 100vw;
   height: 100px;
   background-color:white;
   position: fixed;
   z-index: 200000;
}
.header-continer{
   width: 80%;
   height:50%;
   justify-content: space-between;
   display: flex;
   margin: auto;
   padding: 30px 20px 0 0;
}
.header-logo{
   width: 15%;
   height:50%;
   margin-top: -33px;
}
.header-logo img{
margin: 10px;
background-color: rgb(233, 193, 180);
}
nav ul{
   list-style: none;
   display: flex;
   /* margin-left: 270px; */
}
nav ul li{
   margin-left: 20px;
   font-size: 17px;
   position: relative;
   height: 35px;
   padding-top: 10px;
}
.shop-link a{
   color: #464b40;
}
.shop-link a .fas{
   font-size: 14px;
}
nav ul li a{
   text-decoration: none;
   font-weight: 400;
   color: black;
   padding: 0px 15px ;
}
.header-icon{
   display: flex;
   padding-top: 10px;
}
.header-icon i {
   margin-left: 40px;
   font-size: 20px;
   color: rgb(66, 64, 64);
}
.header-icon .badge {
   background-color: #db6e80;
   width: 20px;
   height: 20px;
   border-radius: 10px;
   position: absolute;
   transform: translate(58px,-35px);
   text-align: center;
   color: #fff;
}
.dropdown-table{
   background-color: #fff;
   margin: 25px 0px ;
   border:2px solid #da7777;
   position: absolute;
   transform: scale(0,0);
   padding: 15px;
   font-size: 15px;
   padding-left: 25px;
   width: 600px;
   height: 200px;
}
.shop-link:hover .dropdown-table{
   transform: scale(1,1);
   transition: 0.5s;
}
nav ul li::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 0%;
   border-left:2px solid #da7777;
   border-right:2px solid #da7777;
}
nav ul li:hover::before{
   height: 100%;
   width: 100%;
   transition: 0.1s;
   bottom: 0;
   transform: translate(0,2px);
   height: 36px;
}
nav ul li::after{
   content: "";
   position: absolute;
   width: 0%;
   height: 100%;
   border-top:2px solid #da7777;
   border-bottom:2px solid #da7777;
   left: 0;
   top: 0;
}
nav ul li:hover::after{
   height: 100%;
   width: 103%;
   transition: 0.4s;
}
.dropdown-table thead tr th span{
   border-bottom: 1px dashed #5D9913;
   font-size: 20px;
   padding-bottom: 5px;
}
.dropdown-table tbody td{
   padding-right: 30px;
   padding-top: 7px;
} 
/* main start */
main{
   width: 100vw; height: 100vh;
}
.main-continer{
   width: 80%;
   height:90%;
   background: url(../images/Untitled.jpg) center / cover;
   margin: auto;
   justify-content: center;
   text-align: center;
   padding-top: 15%;
   color: #971b44;
}
.main-continer h2{
   font-size: 60px;
   animation-name: main-h2;
   animation-duration: 1s;
}
@keyframes main-h2{
   0%{
       transform:translate(-300px);
   }
}
.main-continer .main-btn{
   font-size: 15px;
   animation-name: main-btn;
   animation-duration: 1s;
   animation-delay: 1s;
   color: #fff;
   text-transform: capitalize;
   background-color: #971b44;
   width: 180px;
   height: 40px;
   border-radius: 25px;
   margin: auto;
   padding: 10px;
   margin-top: 20px;
}
@keyframes main-btn{
   0%{
       transform:translatey(200px);
   }
}
/* ==================best-product start =========*/
.best-product , .gallary{
   width: 100vw;
   height: 85vh;
   position: relative;
}
.best-ptoduct-continer , .gallary-continer{
   width: 80%;
   height: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   padding-top: 70px;
}
.bproduct-box{
   width: 23%;
   height: 83%;
   box-shadow: 0.1px 0.1px 5px rgb(209, 203, 203);
}
.title{
   font-size: 30px;
   text-transform: capitalize;
   text-align: center;
   padding-top: 80px;
}
.title-line{
   width: 100px;
   height: 3px;
   background-color: #b61d76;
   margin: auto;
   margin-top: 8px;
}
.bpimgs{
   width: 100%;
   height: 70%;
   margin: auto;
}
.pbtext{
   width: 100%;
   height: 30%;
   margin: auto;
}
.pdcircle1{
   width: 220px;
   height: 220px;
   border-radius: 150px;
   margin: auto;
   border: 3px solid #b61d76;
   margin-top: 30px;
   box-shadow: 0.1px 0.1px 10px rgb(186, 183, 183);
   background-color: #fff;
}
.pdcircle2{
   width: 55px;
   height: 55px;
   border-radius: 150px;
   margin: auto;
   border: 3px solid #b61d76;
   margin: -200px 200px;
   box-shadow: 0.1px 0.1px 10px rgb(186, 183, 183);
   background-color: #fff;
   text-align: center;
   padding: 15px 0;
   font-weight: bold;
}
.pbtext{
   text-align: center;
}
.pbtext h3{
   font-size: 23px;
   padding: 0 10px 10px ;
   margin-top: 55px;
}
.pbtext p{
   color: #1b1b19;
   font-size: 15px;
}
.pdimge2{
   background: url(../images/asset\ 9.webp) center / cover;
}
.pdimge1{
   background: url(../images/asset\ 10.webp) center / cover;
}
.pdimge3{
   background: url(../images/asset\ 11.webp) center / cover;
}
.pdimge4{
   background: url(../images/asset\ 12.webp) center / cover;
}
.bproduct-box:hover .pdcircle2{
   background-color: #b61d76;
   color: #fff;
}
.bproduct-box:hover h3{
   color: #b61d76;
}
/* ---------gallary start----------- */
.gallary-continer{
   margin-top: -80px;
   height: 60vh;
   position: absolute;
   margin-left: 10%;
   margin-top: 150px;
   z-index: 500;
}
.gbox1{
   width: 49%;
   height: 90%;
   display: flex;
   justify-content: space-between;
}
 .gbox1 .gbbox{
   width: 48%;
   height: 100%;
   background-color: #FFB432;
   transition: 0.3s;
  
} 
.gbox1 .gbbox:hover{
   transform: scale(1.15,1.07)
  
}
.gallary .title{
   margin-top: -40px;
}
.gbox1 p{
   color: #1b1b19;
   font-size: 25px;
   margin-top:50px;
  background-color: antiquewhite;  
  width: 600px;
  height:200px;
  padding: 20px   10px;
}

.gbbox1{
   background: url(../images/asset\ 13.webp) center / cover;
}
.gbbox2{
   background: url(../images/asset\ 32.webp) center / cover;
}
/* ---------------------------------sprites----------------------------- */

.slider{
   width: 100vw;
   height: 60vh;
   /* margin-top: -225px; */
}
.slider-continer{
   height: 80%;
   justify-content: space-between;
   position: relative;
   display: flex;
   padding-top: 60px;
   width: 80%;
   margin: auto;
}
.slider-continer::after{
   width: 100%;
   height: 80%;
   background-color: #fff;
   content: "";
   position: absolute;
   bottom: -130px;
}
.slider-continer::before{
   width: 100%;
   height: 50%;
   background-color: #fff;
   content: "";
   position: absolute;
   top: -47%;
   z-index: 400;
}
.slidericon{
   width: 16%;
   height: 110%;
   margin-top:1px;
   transition: 0.5s;
   position: relative;
}
.slidericon:hover{
   transform: translateY(-180px);
}
.slider-continer .slidericon .icon{
   height: 60%;
   width: 90%;
   margin-bottom: -40px;
   display: flex;
}
.slider-continer .slidericon .icon1{
   background: url(../images/asset\ 25.webp) center;
   background-repeat: no-repeat;
}
.slider-continer .slidericon .icon2{
   background: url(../images/asset\ 24.webp) center;
   background-repeat: no-repeat;
}
.slider-continer .slidericon .icon3{
   background: url(../images/asset\ 23.webp) center;
   background-repeat: no-repeat;
}
.slider-continer .slidericon .icon4{
   background: url(../images/asset\ 22.webp) center;
   background-repeat: no-repeat;
}
.slider-continer .slidericon .icon5{
   background: url(../images/asset\ 27.webp) center;
   background-repeat: no-repeat;
}
.slider-continer .slidericon .icon6{
   background: url(../images/asset\ 26.webp) center;
   background-repeat: no-repeat;
}
.slider-continer .slidericon .icon7{
   background: url(../images/asset\ 29.webp) center;
   background-repeat: no-repeat;
}
.slider-continer .slidericon .icon8{
   background: url(../images/asset\ 28.webp) center;
   background-repeat: no-repeat;
}
.slider-continer .slidericon .icon9{
   background: url(../images/asset\ 25.webp) center;
   background-repeat: no-repeat;
}
.slider-continer .slidericon .icon10{
   background: url(../images/asset\ 24.webp) center; 
   background-repeat: no-repeat;
}

.product{
   width: 100vw;
   height: 130vh;
   position: relative;
  
   z-index: 800;
   position: absolute;
   margin: -240px 0 0px 0%;
}
.product-continer{
   width: 80%;
   height: 95%;
   margin: 0px 0 0px 10%;
   position: absolute;
   
}
.product-continer .title{
   padding: 80px 50px 50px;
   margin-top: 70px;
}
.product-title h2{
   font-size: 48px;
   padding-bottom: 20px;
   
}

.product{
   width: 100vw;
   height: 130vh;
   position: relative;
   
   z-index: 800;
   position: absolute;
   margin: -240px 0 0px 0%;
}
.product-continer{
   width: 80%;
   height: 95%;
   margin: 0px 0 0px 10%;
   position: absolute;
   /* background-color: #F0F5F9; */
}
.product-continer .title{
   padding: 80px 50px 50px;
}
.product-title h2{
   font-size: 48px;
   padding-bottom: 20px;
}
.product-content{
   width: 100%;
   height: 78%;
}
.product-row1 , .product-row2{
   width: 100%;
   height:55%;
   margin: auto;
   justify-content: space-between;
   display: flex;
}
.product-row2{
   margin-top:50px;
}
.product-box{
   width: 23%;
   height: 98%;
   margin: auto;
   display: flex;
   background-color: #fff;
   box-shadow: 0.1px 0.1px 10px rgb(186, 183, 183);
}
.product-card   {
   width: 92%;
   height: 93%;
   margin: auto;
   position: relative;
   transition: 1s;
   transform-style: preserve-3d;
}
.product-card:hover{
   transform: rotateY(180deg);
}
.card-front , .card-back  {
   width: 100%;
   height: 100%;
   margin: auto;
   position: absolute;
}
.card-back {
   z-index: -1;
   transform: rotatey(180deg);
   background-color: #EFF4F8;
}
.card-front{
   backface-visibility: hidden;
   background-color: #EFF4F8;
}
.card-img{
   width: 95%;
   height: 65%;
   margin: auto;
   margin-top: 9px;
}
.card-text{
   width: 95%;
   height: 20%;
   text-align: center;
   padding: 10px;
   font-weight: 700px;
   font-size: 20px;
}
.card-text span{
   font-size: 25px;
   font-weight: bold;
   margin-top: 10px  ;
   display: inline-block;
}
.product-card .cf1{
   background: url(../images/asset\ 4.webp) center;    background-repeat: no-repeat;
}
.product-card .cf2{
   background: url(../images/asset\ 5.webp) center; background-repeat: no-repeat;
}
.product-card .cf3{
   background: url(../images/asset\ 8.webp) center;   background-repeat: no-repeat;
}
.product-card .cf4{
   background: url(../images/asset\ 16.webp) center;   background-repeat: no-repeat;
}
.product-card .cf5{
   background: url(../images/asset\ 12.webp) center;  background-repeat: no-repeat;
} 
.product-card .cf6{
   background: url(../images/asset\ 6.webp) center; background-repeat: no-repeat;
}
.product-card .cf7{
   background: url(../images/asset\ 11.webp) center; background-repeat: no-repeat;
}
.product-card .cf8{
   background: url(../images/asset\ 41.webp) center; background-repeat: no-repeat;
}
.product-card .cf9{
   background: url(../images/asset\ 18.webp) center;  background-repeat: no-repeat;
}
.product-card .cf10{
   background: url(../images/asset\ 9.webp) center; background-repeat: no-repeat;
}
.product-card .cf11{
   background: url(../images/asset\ 10.webp) center; background-repeat: no-repeat;
}
.product-card .cf12{
   background: url(../images/asset\ 40.webp) center;  background-repeat: no-repeat;
}
.product-card .cf13{
   background: url(../images/asset\ 34.webp) center; background-repeat: no-repeat;
}
.product-card .cf14{
   background: url(../images/asset\ 32.webp) center;  background-repeat: no-repeat;
}
.product-card .cf15{
   background: url(../images/asset\ 30.webp) center;   background-repeat: no-repeat;
}
.product-card .cf16{
   background: url(../images/asset\ 1.webp) center;  background-repeat: no-repeat;
} 
.card-icon{
   justify-content: space-between;    padding: 17px;
   display: flex;
   color: rgb(95, 95, 38);
}
footer{
   width: 100vw;
   height: 80vh;
   margin-top: 900px;
}
.footer-continer{
   width: 80%;
   height: 80%;
   margin: auto;
   background: url(../images/300415260_128618766571612_608719890278360435_n.jpg); background-repeat: no-repeat;
   background-position: center ;
   background-size: cover;
}


















